<div class="container">
    <div class="home-video">
        <video class="home-video" src="video/colorsofgeorgia.mp4" autoplay [muted]="'muted'" loop></video>
    </div>
    <div class="overlay">

    </div>

    <div class="main-container">
        <div class="home-container">
            <div class="home-content">
                <h1>Welcome to <span id="h">Hotel</span> <span id="b">Booking.</span></h1>
                <p>For nine years, our company has proudly delivered unparalleled service in Georgia, boasting licensed guides, top-notch vehicles, and an unwavering commitment to safety.</p>
                <a routerLink="/hotels" class="btn">Explore Hotels</a>
            </div>            
        </div>
    </div> 
</div>

@if (topRooms.length > 0) {
    <div class="main-container">
        <div class="divider"><span>Guest Favorite Rooms</span></div>
        <a routerLink="/rooms" style="text-decoration: none;">
            <div class="rooms-container">
                @for (item of topRooms; track $index) {
                    <app-hotel-room-card
                    imageUrl="{{item.images[0].source}}"
                    roomName="{{item.name}}"
                    pricePerNight="{{item.pricePerNight}}"
                    currencySymbol="₾"
                    viewDetails="View Details"
                    >
                    </app-hotel-room-card>
                }                        
            </div>
        </a>

        <div class="divider"><span>USP Section</span></div>
        <div class="usp-section">
            <div class="usp-content">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-martini-glass"></i>
                </div>
                <div class="usp-text">Beverages included</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa tempore aliquid eos veniam excepturi expedita dolorum ad consequatur.</p>
                <a href="#"><div class="read-more">Read more<i class="fa-solid fa-angle-right"></i> </div></a>
            </div>

            <div class="usp-content">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <div class="usp-text">Stay First, Pay After!</div>                
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa tempore aliquid eos veniam excepturi expedita dolorum ad consequatur.</p>
                <a href="#"><div class="read-more">Read more<i class="fa-solid fa-angle-right"></i> </div></a>
            </div>

            <div class="usp-content">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-utensils"></i>
                </div>
                <div class="usp-text">24 Hour Restaurant</div>  
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa tempore aliquid eos veniam excepturi expedita dolorum ad consequatur.</p>
                <a href="#"><div class="read-more">Read more<i class="fa-solid fa-angle-right"></i> </div></a>
            </div>

            <div class="usp-content">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-droplet"></i>            
                </div>
                <div class="usp-text">Spa Included!</div>                
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa tempore aliquid eos veniam excepturi expedita dolorum ad consequatur.</p>
                <a href="#"><div class="read-more">Read more<i class="fa-solid fa-angle-right"></i> </div></a>
            </div>
        </div>
    </div>
}
@else {
    <div class="loading">
        <div class="loading-animation"></div>
        <h1>Loading...</h1>
    </div>
}






