<div class="nav-wrapper">
    <nav class="navbar main-container">
        <!-- Logo -->
        <img src="CompanyLogo/360_F_1317127381_6VLh1N60cqGMAlzxYnGxZ6l8hw0jWbOr.jpg" alt="Company Logo" class="logo" />
        <a class="brand" routerLink="/"><span id="h">Hotel</span> <span id="b">Booking</span></a>


        <!-- Navigation items -->
        <div class="nav-links">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/hotels">Hotels</a></li>
                <li><a routerLink="/rooms">Rooms</a></li>
                <li><a routerLink="/booked-rooms">Booked Rooms</a></li>
            </ul>
        </div>
    </nav>
</div>


